{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Treadmil Deals !</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'affiliate/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'affiliate/css/styles.css'%}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="/">TREADMILlS DEALS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'affiliate/images/1.jpg' %}" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Teadmill Deals...</h1>

                    <p>
                        Brownrolly Walking Pad A1 Treadmill Smart Machine de marche pliable avec télécommande,
                                sans bruit et équipement d'entraînement confortable, deux modes de fonctionnement
                    </p>
                    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=8&p=12&l=ur1&category=amazon_business&banner=1C3QSD57GB1C45D29T82&f=ifr&linkID=b3eda38480e1f6f11a6f505e12046ba9&t=modou-21&tracking_id=modou-21" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
                </div>
            </div>
            <hr>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0">
                        banniere de pub
                    </p>
                </div>
            </div>
            <hr>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/3vBL7Xm">
                            <img class="card-img-top" src="{% static 'affiliate/images/13.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">WalkingPad </h2>
                            <p class="card-text">
                                Brownrolly Walking Pad A1 Treadmill Smart Machine de marche pliable avec télécommande,
                                sans bruit et équipement d'entraînement confortable, deux modes de fonctionnement
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/3vBL7Xm">330,00 €</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/3iRdCh8">
                            <img class="card-img-top" src="{% static 'affiliate/images/10.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Tapis de Course Electrique</h2>
                            <p class="card-text">
                                ISE Tapis de Course Electrique Pliable, Motorisé‎ 10km/h Moteur DC 750W,
                                Système de Conduite, Silencieux, Idéal pour Maison/Bureau,SY-1001
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/3iRdCh8">330,00 €</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/3gA9MaL">
                            <img class="card-img-top" src="{% static 'affiliate/images/11.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Tapis de Course Pliable</h2>
                              <p class="card-text">
                                Motorisé 10km/h 750W, Vitesse Réglable, Ecran LCD, Idéal pour la Maison et Le Bureau,
                                  Tapis de Marche Electrique avec 4 Programmes, SY1006
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/3gA9MaL">330,00 €</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/2SLgscK">
                            <img class="card-img-top" src="{% static 'affiliate/images/16.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Gymform</h2>
                            <p class="card-text">
                               Direct Slim Fold Treadmill Tapis Roulant avec 3 programmes automatiques
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/2SLgscK">330,00 €</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/3gKCFQc">
                            <img class="card-img-top" src="{% static 'affiliate/images/15.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Tapis de Course Pliable Semi-Pro</h2>
                            <p class="card-text">
                           Tapis de Marche|Electrique Motorisé 13 km/h avec 12 Programmes d'exercices pré-établis
                                et écran LED|sans Inclinaison avec Roues de Transport, Max.120 kg SY-T2702
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/3gKCFQc">285,99 €</a>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <a href="https://amzn.to/35xqQIc">
                            <img class="card-img-top" src="{% static 'affiliate/images/14.jpg' %}" alt=""/>
                        </a>
                        <div class="card-body">
                            <h2 class="card-title">Multifuncional</h2>
                            <p class="card-text">
                              Home Office Treadmill bureau Tapis roulant, Tapis roulant pliant manuel, marche portable machine de
                                remise en forme exercice Slim marche Inclinaison de l'appareil + pliable for Home Gym
                            </p>
                        </div>
                        <a class="btn btn-secondary btn-sm" href="https://amzn.to/35xqQIc">285,99 €</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; globalTech.com 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'affiliate/js/scripts.js' %}"></script>
    </body>
</html>
